.navv {
  
    background-color: rgba(0, 0, 0, 0.1);
    height: 70px;
    stroke: #707070;
  }
  
  .navbrandname {
    font-size: 1.5rem;
  }
  
  .navdiv {
    background-color: inherit;
    margin-left: 30px;
  }
  .navstyle{
    transition:0.6s;
  }
  .navstyle:hover{
    border:solid;
    border-top-color: yellow;
    border-bottom-color: yellow;
    border-left:0 none;
    border-right:0 none;
    
    opacity: 1;
  
    
  }
  .profileannouncement{
    
   border-radius: 10%;
   
 
    padding:20px;
    background-color: #F7F6F2;
  }
  .profilenews{
    padding:20px;
  }
  .profileannouncementt{
    width:20%;
    height:100%;
   border-radius: 10%;
    margin-left: auto;
    margin-right:5%;
  position: relative;
  bottom:60px;
  left:20px;
    padding:20px;
    background-color: #F7F6F2;
  }
  .newstext{
    font-family: 'Roboto';
    color: black;

    
  }
  .newstextt{
    font-family: 'Roboto';
    color: black;
    font-size: 1rem;
    margin-top: 12px;
    text-align:left
  }
  
  .selfspan{
    font-size: 1.2rem;
  }

 


#outer{
    /* border: 1px solid black; */
    width: 300px;
    height: 460px;
    border-radius: 30px;
    background-color: #A2D5F2;
    font-family: 'Roboto';
    margin-top:20px;
    margin-left:20px;
   
    transition:1s;
    
}

#inner{
    width: 300px;
    height: 110px;
    /* border: 1px solid black; */
}

#pass{
    padding: 10px;
    padding-bottom: 0px;
}

#pass #loc1{
    display: inline;
    position: relative;
    left: 10px;
    margin-right: 185px;
    font-weight: bold;
}

#pass #loc2{
    display: inline;
    position: relative;
    font-weight: bold;
    left: 10px;
}

#pass-long #loc1-long{
    display: inline;
    position: relative;
    left: 10px;
    margin-right: 140px;
}

#pass-long #loc2-long{
    display: inline;
    position: relative;
    left: 10px;
}


#inner img{
    width: 300px;
    height: 110px; 
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

#art{
    padding-top: 10px;;
    padding-left: 25px;
}

#art #first-dot{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 100px;
    margin-right: 5px;
    background-color: red;
}

#art #line-1{
    display: inline-block;
    position:relative;
    top:10px;
    width: 75px;
    background-color: transparent;
    border-top: 1px solid black;
    border-bottom: 0 none;
    border-left: 0 none;
    border-right: 0 none; 
}

#art #line-2{
    display: inline-block;
    background-color: transparent;
    position:relative;
    top:10px;
    opacity: 1;
    width: 85px;
    border-top: 1px solid black;
    border-bottom: 0 none;
    border-left: 0 none;
    border-right: 0 none; 
}

#art #second-dot{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 100px;
    margin-left: 5px;
    background-color: green;
}

#passenger-details{
    margin-top: 30px;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

#passenger-details p{
    margin: 10px;
}

#bar-code{
    margin-top: 3px;
}

#bar-code img{
    margin-left: 80px;
    width: 130px;
    height: 50px; 
    object-fit: contain;
}
.Dineimg{
  height:400px;
  width:100%;
  transition:1.4s;
}
.Dineimg:hover{
  transform:scale(1.2);
  
  
}
.Dinecontainer{
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
  padding:0 !important;
  overflow: hidden;
}

.Dinetextleft1{
  position: absolute;
  top: 50%;
  left: 10%;
  font-size: 2rem;
  font-family: roboto;

}
.Dinetextleft2{
  position: absolute;
  top: 60%;
  left: 10%;
  font-size: 2rem;
  font-family: roboto;
  
}
.Dinetextright{
  position: absolute;
  top: 30%;
  right: 10%;
  font-size: 2rem;
  font-family: roboto;
  
}
.Dineexpdiv{
 
  margin:30px;
 
  
  border-color:none;
 
  border-radius: 5%;
}
.Dineexpdiv h3{
 font-weight: bold;
  font-family: Roboto;
}
.Dineexpdiv p{
  font-size: 1rem;
  margin-top:20px;
   font-family: Roboto;
}
.cicon{
  display: inline-block;
  margin-left:30px;
}
.dinebutton{
  text-align: center;
  margin-top:40px;
  margin-bottom:30px;
}
.qrdivdine{
  margin-top:50px;
  
}
.carouselsmalldiv{

  margin:10px;

}
.changecolor{
 border:solid black 15px;
  width:200px;
  height:200px;
 object-fit:cover;
  
}
.null{
  width:140px;
  height:200px;
 object-fit:cover;
}
.dishstyle{
  font-family: 'Cedarville Cursive', cursive;
font-family: 'Ephesis', cursive;
}
.Dineimg2{
  height:400px;
  width:100%;
  transition:1.4s;
}
.Dineimg2:hover{
  transform:scale(1.2);
  
  
}
.dutytext{
  font-family: 'Koh Santepheap', cursive;
}
html{ 
  scroll-behavior: smooth; 
}
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px; 
}


.payment-form{
	padding-bottom: 50px;
	font-family: 'Montserrat', sans-serif;
}

.payment-form.dark{
	background-color: #FFF8E5;
}

.payment-form .content{
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
	background-color: white;
}

.payment-form .block-heading{
    padding-top: 50px;
    margin-bottom: 40px;
    text-align: center;
}

.payment-form .block-heading p{
	text-align: center;
	max-width: 420px;
	margin: auto;
	opacity:0.7;
}

.payment-form.dark .block-heading p{
	opacity:0.8;
}

.payment-form .block-heading h1,
.payment-form .block-heading h2,
.payment-form .block-heading h3 {
	margin-bottom:1.2rem;
	color: #3b99e0;
}

.payment-form form{
	border-top: 2px solid #5ea4f3;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
	background-color: #ffffff;
	padding: 0;
	max-width: 600px;
	margin: auto;
}

.payment-form .title{
	font-size: 1em;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	margin-bottom: 0.8em;
	font-weight: 600;
	padding-bottom: 8px;
}

.payment-form .products{
	background-color: #f7fbff;
    padding: 25px;
}

.payment-form .products .item{
	margin-bottom:1em;
}

.payment-form .products .item-name{
	font-weight:600;
	font-size: 0.9em;
}

.payment-form .products .item-description{
	font-size:0.8em;
	opacity:0.6;
}

.payment-form .products .item p{
	margin-bottom:0.2em;
}

.payment-form .products .price{
	float: right;
	font-weight: 600;
	font-size: 0.9em;
}

.payment-form .products .total{
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	margin-top: 10px;
	padding-top: 19px;
	font-weight: 600;
	line-height: 1;
}

.payment-form .card-details{
	padding: 25px 25px 15px;
}

.payment-form .card-details label{
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 15px;
	color: #79818a;
	text-transform: uppercase;
}

.payment-form .card-details button{
	margin-top: 0.6em;
	padding:12px 0;
	font-weight: 600;
}

.payment-form .date-separator{
 	margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}
.cimage{
 height:500px !important;
  width:"100%";
  object-fit: cover;
}
.mainpage-imagebackround{
  background-color: #74EBD5;
  background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
}
.bpasstext{
  font-family: 'Scheherazade New', serif;
}




#main-flight-status-box{

  border-radius: 20px;
  width: 500px;
  height: 100px;
  padding: 20px;
}

#fstatus-loc1{
  display: inline-block;
  margin-bottom: 0;
  padding-bottom: 0;
}

#line-one-fs-box{
  display: inline-block;
  width: 130px;
}

#line-two-fs-box{
  display: inline-block;
  width: 110px;
}

#line-flight-status-box{
  display: inline-block;
}

#fstatus-loc2{
  display: inline-block;
}

#fs-loc1-desc{
  padding-top: 0;
  margin-top: 0;
  display: inline-block;
  margin-right: 120px;
}

#fs-loc2-desc{
  display: inline-block;
}

#fs-time-left-desc{
  display: inline-block;
  margin-right: 130px;
}

.fa-plane{
  color: green;
}




.weatherbody
{
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  
  
}

div.widget
{
  position: relative;
  width: 390px;
  height: 200px;
  margin-bottom: 50px;
  margin-top: 50px;
  
  background-color: #fcfdfd;
  border-radius: 9px;
  padding: 25px;
  padding-right: 30px;
  box-shadow: 0px 31px 35px -26px #080c21;
}

div.left-panel
{
  
}

div.date
{
  font-size: 14px;
  font-weight: bold;
  color: rgba(0,0,0,0.5);
}

div.city
{
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 5px;
  color: rgba(0,0,0,0.7);
}

div.temp
{
  font-size: 81px;
  color: rgba(0,0,0,0.9);
  font-weight: 100;
}

div.panel
{
  display: inline-block;
}

div.right-panel
{
  position: absolute;
  float: right;
  top: 0;
  margin-top: 35px;
  padding-left: 10px;
}





















